<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Add a new task</h1>
      <br>
      <%= form_for @task do |f| %>
      <%= f.label :name, "I have to:" %>
      <%= f.text_field :name, placeholder: "win ballon d'or" %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
